<div class="bgMain">
    <div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <a href="" class="logo">
                <img src="./assets/images/logo.png" alt="" srcset="">
            </a>
            <button class="btn btn-danger signUp">Sign Up</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-white text-center mt-5">
            <h2 class="main-heading ">
                Unlimited movies, TV shows and more
            </h2>
            <h4 class="subHeading">
                Watch anywhere. Cancel anytime.
            </h4>
            <h5 class="mb-5">
                Ready to watch? Enter your email to create or restart your membership.
            </h5>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-7">
                    <div class="form-group align-self-center">
                        <input type="text" class="form-control mailSub text-white" placeholder="Email Address" title="mail">
                       
                    </div>
                </div>
                <div class="col-md-3 ">
                    <button class="btn btn-danger btn-block py-2">
                        Get Started
                    </button>
                </div>
            </div>
           
        </div>
    </div>
</div>
</div>
<div class="divider"></div>
<div class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white">
                <h2 class="main-heading ">
                    Enjoy on your TV
                </h2>
                <h4 class="subHeading">
                    Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.
                </h4>
               
            </div>
            <div class="col-md-6">
                <img class="w-100" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="" srcset="">
                <video class="playVideo" autoplay playsinline muted loop>
                    <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v">
                </video>
            </div>
        </div>
    </div>
</div>
<div class="divider">
</div>
<div class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img title="img" class="w-100" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg">
              </div>
              <div class="col-md-6 text-white">
                  <h2 class="main-heading ">
                      Download your shows to watch offline
                  </h2>
                  <h4 class="subHeading">
                      Save your favourites easily and always have something to watch.
                  </h4>
              </div>
        </div>
       
    </div>
</div>
<div class="divider">
</div>
<div class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-white">
                <h2 class="main-heading ">
                    Watch everywhere
                </h2>
                <h4 class="subHeading">
                    Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
                </h4>
               
            </div>
            <div class="col-md-6">
                <img class="w-100" src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png" alt="" srcset="">
                <video class="playVideo2" autoplay  muted loop>
                    <source src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices-in.m4v">
                </video>
            </div>
        </div>
    </div>
</div>
<div class="divider">
</div>
<div class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img title="img" class="w-100" src="https://occ-0-2164-2186.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d">
              </div>
              <div class="col-md-6 text-white">
                  <h2 class="main-heading ">
                    Create profiles for kids
                  </h2>
                  <h4 class="subHeading">
                    Send children on adventures with their favourite characters in a space made just for them—free with your membership.
                  </h4>
              </div>
        </div>
       
    </div>
</div>
<div class="divider">
</div>
<div class="bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="main-heading text-center">
                    Frequently Asked Questions
                </h2>
                <app-accordian></app-accordian>
                <app-accordian></app-accordian>
                <app-accordian></app-accordian>
                <app-accordian></app-accordian>
                <app-accordian></app-accordian>
                <app-accordian></app-accordian>
                
                <h5 class="my-5 text-center text-white">
                    Ready to watch? Enter your email to create or restart your membership.
                </h5>

                <div class="row pb-4">
                    <div class="col-md-8 offset-md-2">
                        <div class="row">
                            <div class="col-md-1">
                                &nbsp;
                            </div>
                            <div class="col-md-7">
                                <div class="form-group align-self-center">
                                    <input type="text" class="form-control mailSub text-white" placeholder="Email Address" title="mail">
                                   
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                <button class="btn btn-danger btn-block py-2">
                                    Get Started
                                </button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
