<div class="bgMain">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a title="logo" class="logo">
                    <img src="./assets/images/logo.png" alt="" srcset="">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                <div class="card px-md-4">
                    <div class="card-body">
                        <h2 class="text-white">{{ (!isAccount)?"Sign Up":"Sign In"}}</h2>
                        <form #myForm="ngForm" (ngSubmit)="onSubmit()">
                            <ng-container *ngIf="!isAccount">
                                <div class="form-group my-4">
                                    <input name="Name" type="text" class="form-control" placeholder="Name" ngModel required>
                                </div>
                                <div class="form-group my-4">
                                    <input name="Mobile" type="number" class="form-control" placeholder="Mobile " ngModel required>
                                </div>
                            </ng-container>
                            <div class="form-group my-4">
                                <input name="email" type="text" class="form-control" placeholder="Email Address" ngModel required>
                            </div>
                            <div class="form-group my-4">
                                <input name="password" type="text" class="form-control" placeholder="Password " ngModel required>
                            </div>
                            <button type="submit" class="btn btn-danger btn-block my-5">{{ (!isAccount)?"Sign Up":"SignIn"}}</button>
                        </form>

                        <p class="text-muted">{{ (!isAccount)?"Already had an account":"Don't Have an account ?"}} <span
                                class="redirect" (click)="onClick()"> {{ (!isAccount)?"Sign In":"Sign Up"}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>