.playVideo {
    position: absolute;
    top: 21%;
    left: 16%;
    width: 68%;
}
.playVideo2 {
    position: absolute;
    top: 9%;
    left: 24%;
    width: 54%;
}
.main-heading{
    color: white;
    margin: 3rem 0 2rem;
    font-size: 3rem;
    font-weight: bolder;
    }
    
    .subHeading{
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }