<div class="row" [ngClass]="{
    'flex-row-reverse':dataObj.rowReverse
}">
    <div class="col-md-6 text-white">
        <h2 class="main-heading ">
          {{dataObj.h1}}
        </h2>
        <h4 class="subHeading">
            {{dataObj.h2}}
        </h4>
    
    </div>
    <div class="col-md-6">
        <img class="w-100"
           [src]="dataObj.imageUrl"
            alt="" srcset="">
        <video *ngIf="dataObj.videoUrl" [ngClass]="{
            'playVideo':dataObj.class == 1,
            'playVideo2':dataObj.class == 2
        }" autoplay muted loop>
            <source
            [src]="dataObj.videoUrl">
        </video>
    </div>
</div>
